<div class="signup-form-container">
  <form action="/" (submit)="onSubmit($event)">
    <fieldset>
      <legend>Signup</legend>

      <div>
        <div class="label-container">
          <label for="username">Username </label>
          <small>(at least 4 characters)</small>
        </div>
        <input
          type="text"
          id="username"
          autocomplete="username"
          placeholder="John doe"
          [formField]="signupForm.username"
          aria-invalid="{{ signupForm.username().invalid() }}"
          aria-errormessage="username-error"
        />
        <ul aria-live="polite" id="username-error">
          @if (signupForm.username().touched() && signupForm.username().invalid()) {
            @for (error of signupForm.username().errors(); track error.kind) {
              <li>{{ error.message }}</li>
            }
          }
        </ul>
      </div>

      <div>
        <div class="label-container">
          <label for="password">Password</label>
          <small>(at least 8 characters)</small>
        </div>
        <input
          type="password"
          id="password"
          autocomplete="new-password"
          [formField]="signupForm.password"
          aria-errormessage="password-error"
        />

        <ul aria-live="polite" id="password-error">
          @if (signupForm.password().touched() && signupForm.password().invalid()) {
            @for (error of signupForm.password().errors(); track error.kind) {
              <li>{{ error.message }}</li>
            }
          }
        </ul>
      </div>

      <div>
        <div class="label-container">
          <label for="confirm-password">Confirm password</label>
          <small>(should match password)</small>
        </div>
        <input
          type="password"
          id="confirm-password"
          autocomplete="new-password"
          [formField]="signupForm.confirmPassword"
          aria-errormessage="confirm-password-error"
        />

        <ul aria-live="polite" id="username-error">
          @if (signupForm.confirmPassword().touched() && signupForm.confirmPassword().invalid()) {
            @for (error of signupForm.confirmPassword().errors(); track error.kind) {
              <li>{{ error.message }}</li>
            }
          }
        </ul>
      </div>

      <div>
        <button type="submit">Create Account</button>
        <a href="/">Back to Home</a>
      </div>
    </fieldset>
  </form>
</div>
